body {
    font-family: Arial, sans-serif;
    text-align: center;
}
h1 {
    text-align: center;
    color: #333;
}
.container {
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f4f4f4;
}
label {
    display: inline-block;
    margin-top: 10px;
    width: 250px;
    padding-left: 10px;
    font-weight: bold;
}
input[type="number"] {
    width: 150px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    align-items: center;
}
input[type="number"][disabled] {
    background-color: #f0f0f0;
}
input[type="range"] {
    width: 100px;
}
#calculateButton {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #404244;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#tipAmount, #totalAmount {
    margin-top: 15px;
    font-weight: bold;
}
#tipAmount, #totalAmount, #tipPercentage, #tipPer {
    display: inline-block;
    width: 150px;
    color: #534b4b;  
    align-items: center; 
    
}
